ul.list-overview__active-terms { 
  margin-left: 0; 
  margin-bottom: 1.25rem
}

.mdc-list-item {
  height: auto;
}

.mdc-list-item.header {
  height: 48px;
}

.list-overview__list {
  position: relative;
  padding-top: 46px;
}

.list-overview__list-item {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

a .list-overview__list-item .mdc-typography--title {
  color: #212121;
}

.list-overview__list-item.header {
  position: absolute;
  top: 0;
  background-color: #f1f1f1;
  font-size: 0.75rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: none;
}

.list-overview__right-label, 
.list-overview__middle-label, 
.list-overview__left-label, 
.list-overview__right-content,
.list-overview__left-content,
.list-overview__middle-content {
  display: inline-flex;
  justify-content: left;
  flex: 0.15;
  line-height: 1.1
}
.list-overview__middle-label, .list-overview__middle-content {
  flex: 0.7;
  white-space: normal;
}

.list-overview__left-label, .list-overview__left-content {
  justify-content: right;
}

.list-overview__list-item--indicator {
  margin-right: 0;
  display: block;
  position: relative;
}

.list-overview__list-item--indicators .list-overview__list-item--indicator i {  
  font-size: 1.2rem;
  line-height: 1.5rem;
  vertical-align: top;
  position: absolute;
  right: -25px;
  bottom: -13px;
}

.list-overview__list-item--indicators .list-overview__list-item--indicator:last-child i {
  display: none;
}

.list-overview__right-icon {
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
}