.griddetails--select-wrapper {
  width: 100%; 
  text-align: right;
  padding: 0 3rem;
  box-sizing: border-box;
}

.griddetails--select.mdc-select {
  background-position: left 10px center;
  padding-left: 19px;
}

.mdc-select.griddetails--select {
  width: 280px;
  margin-top: -12px;
}

.griddetails--select .mdc-select__surface {
  background-color: rgba(0,0,0,0);
}

.mdc-select__bottom-line {
  display: none;
}